## Python for Data Science
### FUHSD Adult School
### Sanjay

In [2]:
print("Hello Sunday")

Hello Sunday

In [ ]:
print("Hello, Python!")

### --- Exercise 1
### Print the following string "Learning Python for Data Science"

In [1]:
# Exercise 1 - write code in this cell and click on Run
print("Hello World. Enjoy what you have earned ")

Hello World. Enjoy what you have earned

In [ ]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string

print(counter)
print(miles)
print(name)

a = b = c = 1
print(a)
print(b)
print(c)

### --- Exrecise 2
### Create variables with your first_name and last_name
### print first_name and last_name

In [3]:
# Exercise 2 - Python code
first_Name = 'Yosh'
last_Name = 'Kashima'
print(first_Name)
print(last_Name)
print(first_Name, end = ' ')
print(last_Name)

Yosh
Kashima
Yosh Kashima

In [1]:
# Exercise 2b -- write code in this cell and click on Run
# Initialise following variables:
class_name = ""
which_day = ""
Num_days = ""
Class_timings = ""
# You want to print the following:
# "Python for Data Science class is on eight Saturdays 9 am to noon"
class_name = "Python for Data Science"
which_day = "Saturday"
Num_days =  "eight"
Class_timings = "9 am to noon"
print(class_name, "class is on", "is on ", Num_days, which_day, Class_timings)

Python for Data Science class is on is on  eight Saturday 9 am to noon

In [3]:
str = 'Hello World!'

a = str
b = str[0]
c = str[2:7]
d = str[2:]
e = str * 2
f = str + " " + "TEST"
g = str[-1]
h = str[-3:]
print(a)          # Prints complete string
print(b)       # Prints first character of the string
print(c)     # Prints characters starting from 3rd to 5th
print(d)      # Prints string starting from 3rd character
print(e)      # Prints string two times
print(f) # Prints concatenated string
print(g)
print(h)

Hello World!
H
llo W
llo World!
Hello World!Hello World!
Hello World! TEST
!
ld!

### --- Exercise 3 
### print first two characters of first_name and last two characters of last_name

In [4]:
# Exercise 3 - write code in this cell 
# You want to extract first letter from first_name, middle_name, and last_name
first_name = "Josh"
middle_name = "Yoshimi"
last_name = "Kashima"
print("First character of given name is", first_name[0])
print("First character of middle name is", middle_name[0])
print("First charcater of last name is", last_name[0])

First character of given name is J
First character of middle name is Y
First charcater of last name is K

In [ ]:
###########################################################
## Python Lists
###########################################################
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]

print(list)          # Prints complete list
print(list[0])       # Prints first element of the list
print(list[1:3])     # Prints elements starting from 2nd till 3rd 
print(list[-3:])

## Exercise 4 -- Lists
## Define a new Python list "new_list" and initialize it with "1","A","2","B","3","C"
## Print values with alternate indices 0,2,4 and 1,3,5

In [5]:
## Write code for Exercise 4 in this cell
list = ["1", "A", "2", "B", "3", "C"]
print(list[0])
print(list[2])
print(list[4])
print(list[1])
print(list[3])
print(list[5])

1
2
3
A
B
C

In [6]:
###########################################################
## Python Tuples
###########################################################
tuple = ('abcd', 786 , 2.23, 'john', 70.2 )
tuple = ('abcde', 786 , 2.23, 'john', 70.2 )
# tuple[0] = "sanjay"
print(tuple)          # Prints complete list
print(tuple[0])       # Prints first element of the list
print(tuple[1:3])     # Prints elements starting from 2nd till 3rd 
var1 = "jshjah"
var1 = "aaaaa"
print(var1)

('abcde', 786, 2.23, 'john', 70.2)
abcde
(786, 2.23)
aaaaa

In [7]:
## Decisions in Python
var = 150000
if var == 2000:
   print("1 - Got a true expression value")
   print(var)
elif var == 150:
   print("2 - Got a true expression value")
   print(var)
elif var == 100:
   print("3 - Got a true expression value")
   print(var)
elif var == "Sunnyvale":
    print("var is Sunnyvale")
else:
   print("4 - Got a false expression value")
   print(var)

4 - Got a false expression value
150000

### --- Exercise 5 - if .. elif .. else
### Initialize string state_name to be "California" or "Texas"
### write if ... elif ... else checking state_name 
### if state_name is California, print "Golden State"
### if state_name is Texas, print "Lone Star State"
### default else to printing "Not Golden State or Lone Star State"

In [18]:
# Write code for Exercise 5 in this box

state_name = "California"

if state_name == "California":
    print("Golden State")
elif state_name == "Texas":
    print("Lone Star State")
else:
    print("Not a Golden State or Lone Star State")

Golden State

In [19]:
state_name = "Texas"

if state_name == "California":
    print("Golden State")
elif state_name == "Texas":
    print("Lone Star State")
else:
    print("Not a Golden State or Lone Star State")

Lone Star State

In [20]:

state_name = "Washington"

if state_name == "California":
    print("Golden State")
elif state_name == "Texas":
    print("Lone Star State")
else:
    print("Not a Golden State or Lone Star State")

Not a Golden State or Lone Star State

In [22]:
## For and while Loops
## while loop
count = 0
while (count < 9):
   print('The count is:', count)
   count = count + 1

## for loop
for letter in 'Python':     # First Example
   print('Current Letter :', letter)

fruits = ['banana', 'apple',  'mango']
for fruit in fruits:        # Second Example
   print('Current fruit :', fruit)

cars = ["honda","toyota","tesla"]
cars.reverse()
print(cars)

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : o
Current Letter : n
Current fruit : banana
Current fruit : apple
Current fruit : mango
['tesla', 'toyota', 'honda']

### --- Exercise 6 -- print fruits in reverse order, one line per fruit
### mango
### apple
### banana

In [23]:
# Write code for Exercise 6 in this cell
fruits =["mango", "apple", "banana"]
fruits.reverse()
print (fruits)

['banana', 'apple', 'mango']

In [24]:
## Functions in Python
def add_numbers(a=5,b=10):
    c = a + b
    return c

result = add_numbers(2,12)
print(result)
result = add_numbers()
print(result)
result = add_numbers(2,12)
print(result)
result = add_numbers(100)
print(result)

14
15
14
110

### --- Exercise 7 -- functions -- 
### write function to find square(a) + square(b), given a and b
### def square_and_sum(a,b)
### when a = 2 and b = 3, the function should return 13
###
### write function to add strings 
### def add_strings(str1,str2)
### when str1 = "Hello" and str2 = "World", 
### it should return "Hello World!!!" with space and !!!.

In [26]:
# Write code for Exercise 7 in this cell
def square(a):
    return a*a

def sum(a,b):
    return a+b

def add_strings(str1, str2):
    return str1+" "+str2

a=2
b=3
str1="Hello"
str2="World"

print ("square of %s is %s" % (a, square(a)))
print ("sum of square %s and %s is %s " % (a, b, square(a)+b))
print ("%s!!!" % (add_strings(str1,str2)))

square of 2 is 4
sum of square 2 and 3 is 7
Hello World!!!

In [12]:
for x in range(10): 
    print(x)

0
1
2
3
4
5
6
7
8
9

In [13]:
# range also follows the format range(start_value,stop_value,step_value)
for x in range(1,6,2):
    print(x)

1
3
5

### --- Exercise 8 -- using range
### print numbers 10, 9, 8, ..., 1

In [22]:
# Write code for Exercise 8 in this cell
for x in range (10,0,-1):
    print(x)

10
9
8
7
6
5
4
3
2
1

In [20]:
## Appending and extending Python lists
list1 = [1,11,111]
list2 = [2,22,222]

list1.append(1111)
print("list1-a = %s" % list1)
print("list1-a =",list1)

list1.extend(list2)
print("list1-b = %s" % list1)

list1.remove(222)
print("list1-c = %s" % list1)

list1.sort()
print("list1-d = %s" % list1)

list1.sort(reverse=True)
print("list1-e = %s" % list1)

list1-a = [1, 11, 111, 1111]
list1-a = [1, 11, 111, 1111]
list1-b = [1, 11, 111, 1111, 2, 22, 222]
list1-c = [1, 11, 111, 1111, 2, 22]
list1-d = [1, 2, 11, 22, 111, 1111]
list1-e = [1111, 111, 22, 11, 2, 1]

### --- Exercise 9 -- lists with strings
### Initialize states_list with California, Texas, Arizona
### step 1: Add Florida
### step 2: Remove Texas
### step 3: Sort ascending order, and print the list
### step 4: Sort descending order, and print the list

In [32]:
# Write code for Exercise 9 in this cell
list1 = ["California", "Texas", "Arizona"]
list1.append("Florida")
print ("list1-a = %s" %list1)
list1.remove("Texas")
print ("list-r = %s" %list1)
list1.sort() 
print ("list-sort %s" %list1)
list1.sort(reverse=True)
print ("list-reverse %s" %list1)

list1-a = ['California', 'Texas', 'Arizona', 'Florida']
list-r = ['California', 'Arizona', 'Florida']
list-sort ['Arizona', 'California', 'Florida']
list-reverse ['Florida', 'California', 'Arizona']

In [ ]:
## Integer and floating division
def div1(x,y):
    print(x/y)
    
def div2(x,y):
    print(x//y) # integer division

div1(5,2)
div1(5.,2)
div2(5,2)
div2(5.,2.)

In [ ]:
# Printing list length
list1 = ['a', 'b', 'c', 'd', 'e']
print(len(list1))

list2 = [11,22,33,44,55,66,77,88,99,110]
print(list2[1])

print(list2[-2])

In [34]:
state_name = "California"
find_str = state_name.find("a")
print("1--",find_str)

find_str = state_name.find("z")
print("2--",find_str)

count_str = state_name.count("a",0,4)
print("3--",count_str)

find_str = state_name.find("nia")
print("4--",find_str)

1-- 1
2-- -1
3-- 1
4-- 7

In [37]:
### --- Exercise 10 -- find, count --- define the string Albert_Einstein
### Albert_Einstein = "Life is like riding a bicycle. To keep your balance 
### you must keep moving."
### Find number of occurences for: you, ing, life (all case sensitive)
einstein = ("Life is like riding a bicycle.  To keep your balance you must keep moving")
find_str = einstein.find ("you")
print("found str (you) at index--" ,find_str)
find_str = einstein.find("ing")
print("found str (ing) at index -- ", find_str)
find_str = einstein.rfind("ing")
print ("found str (ing) at index --", find_str)
find_str = einstein.find("life")
print ("found str (life) at index --", find_str)

found str (you) at index-- 40
found str (ing) at index --  16
found str (ing) at index -- 70
found str (life) at index -- -1

In [ ]:
# Write code for Exercise 10 in this cell
einstein = ("Life is like riding a bicycle ")

In [38]:
# Splitting strings
ss = "Python for Data Science at FUHSD Adult School"

words = ss.split()
print("Words is a list: ",words)

ss1 = " ".join(words)
print("ss1 is a string: ",ss1)

Words is a list:  ['Python', 'for', 'Data', 'Science', 'at', 'FUHSD', 'Adult', 'School']
ss1 is a string:  Python for Data Science at FUHSD Adult School

In [ ]:
states_1 = ["Washington","Oregon","California"]
states_2 = ["Texas","Arizona","New Mexico","Nevada"]
states_3 = ["Florida","Georgia","Alabama","Louisiana"]

### --- Exrecise 11 Concatenate lists and print alternate
### 1) create a new list "states_123" which includes states_1,
### states_2, and states_3
### 2) Sort the list in ascending order
### 3) print alternate state names from states_123

In [46]:
states_1 = ["Washington","Oregon","California"]
states_2 = ["Texas","Arizona","New Mexico","Nevada"]
states_3 = ["Florida","Georgia","Alabama","Louisiana"]
states_123 = states_1 + states_2 + states_3
print (states_123)
states_123.sort()
print (states_123)
for i in range(0, len(states_123), 2):
    print(states_123[i])

['Washington', 'Oregon', 'California', 'Texas', 'Arizona', 'New Mexico', 'Nevada', 'Florida', 'Georgia', 'Alabama', 'Louisiana']
['Alabama', 'Arizona', 'California', 'Florida', 'Georgia', 'Louisiana', 'Nevada', 'New Mexico', 'Oregon', 'Texas', 'Washington']
Alabama
California
Georgia
Nevada
Oregon
Washington